/* ================================================  
 リセットの記述
================================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ================================================  
 フォントの読み込み
================================================ */

@font-face {
  font-family: 'HannnariMincho';
  font-weight: 400;
  src: url(./HannariMincho-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'AdobeGaramondPro';
  font-weight: 400;
  src: url(./AGaramondPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'IvyOra';
  font-weight: 400;
  src: url(./IvyOraDisplay-Regular.ttf) format('truetype');
}

/* ================================================  
 スタイルの適用(モバイルファーストで記述)
================================================ */
body {
  background-color: #fff;
  color: #583a3a;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'HannnariMincho', sans-serif;
  overscroll-behavior: none;
}

body.isOpen {
  overflow: hidden;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

.clearfix::after {
  clear: both;
}

li {
  list-style: none;
}

html {
  margin-top: 0 !important;
}

.sm_only {
  display: block !important;
}
.md_only,
.lg_only {
  display: none !important;
}

/*
* 共通コンポーネントスタイル
*/

.el_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 185px;
  border-radius: 10px;
  background-color: #9f4750;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-family: 'AdobeGaramondPro', serif;
  gap: 18px;
}

.el_btnImg,
.el_btnArrow {
  height: fit-content;
  line-height: 1;
}

.el_btnImg svg,
.el_btnArrow svg {
  width: 17px;
  height: 17px;
}

.el_secPadding {
  padding-inline: 15px;
}

.bl_heading h2 {
  font-size: 30px;
  line-height: 42px;
  font-family: 'AdobeGaramondPro', serif;
  font-weight: 500;
  color: #8b7878;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
}

.bl_heading p {
  font-size: 11px;
  line-height: 13px;
  font-family: 'HannariMincho', serif;
  display: flex;
  align-items: center;
  gap: 4.6px;
  letter-spacing: 0.1em;
}

.bl_heading span {
  display: block;
  height: 1px;
  width: 21px;
  background-color: #b9a9a8;
}

@media screen and (min-width: 768px) {
  .sm_only {
    display: none !important;
  }
  .md_only,
  .lg_only {
    display: block !important;
  }

  .el_mdWidth {
    max-width: 1106px;
    margin-inline: auto;
    padding-inline: 60px;
  }

  .el_secPadding {
    padding-inline: 0;
  }

  .bl_heading h2 {
    font-size: 62px;
    line-height: 86px;
    margin-bottom: 13px;
  }

  .bl_heading p {
    font-size: 14px;
    line-height: 17px;
    gap: 15.5px;
  }

  .bl_heading span {
    width: 49px;
  }

  .el_btn {
    font-size: 14px;
    line-height: 20px;
    height: 73px;
    max-width: 294px;
    width: 100%;
  }

  .el_btnImg svg,
  .el_btnArrow svg {
    width: 27px;
    height: 27px;
  }
}

@media screen and (min-width: 1300px) {
  .el_mdWidth {
    padding-inline: 0;
  }
}
